/Packages/*
!/Packages/AuthenticationServerKit/
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.*
!.env.example
default.profraw

# Local OpenAPI Python tooling
__pycache__/

.build-server/